# IPs da Núcleo para serem corrigidos nos cabeçalhos das requisições via Proxy
set_real_ip_from   172.31.0.0/16; # VPC Padrão
set_real_ip_from   172.32.0.0/16; # VPC NúcleoGov
set_real_ip_from   18.222.216.97; # Sistemas Internos
